<h1>{{title}}</h1>
<a href="/shelters/kill_shelters">List of Kill Shelters</a>
<p></p>
<div id="error" class="error" hidden>{{error}}</div>
<form method="post" id="searchShelter">
    <label id="theCityLabel">
        Shelter City:
        {{#if city}}
        <input type="text" id="theCity" name="theCity" placeholder="City" value={{city}}>
        {{else}}
        <input type="text" id="theCity" name="theCity" placeholder="City">
        {{/if}}
    </label>
    <label id="theStateLabel">
        Shelter State:
        {{#if state}}
        <input type="text" id="theState" name="theState" placeholder="State" value={{state}}>
        {{else}}
        <input type="text" id="theState" name="theState" placeholder="State">
        {{/if}}
    </label>
    <button type="submit">Find Shelters</button>
</form>

<div class="shelters-search">
  <label id="searchLabel" for="mySearch">Search for a specific shelter:</label><br>
  <input type="text" id="mySearch" onkeyup="search()" placeholder="Search for shelters...">
</div>

<div class="shelters-info">
  <ul id="sheltersUL" hidden>
    {{#each shelters}}
      <li><a href="/shelters/{{_id}}">{{this.shelterName}}</a></li>
    {{/each}}
  </ul>
</div>

<div class="shelters-info">
  {{#each shelters}}
    <h2><a href="/shelters/{{_id}}">{{this.shelterName}}</a></h2>
    <dl>
      <dt>City</dt>
      <dd>{{this.city}}</dd>
      <dt>State</dt>
      <dd>{{this.state}}</dd>
      <dt>Number of Pets</dt>
      <dd>{{this.numberPets}}</dd>
    </dl>
  {{/each}}
</div>