<h1>{{title}}</h1>
<p>Showing shelters in <span class="location">{{city}}, {{state}}</span>:</p>
{{#if shelters.length}}
    <ul>
        {{#each shelters}}
            <li class="tabClass" ><a href="/shelters/{{this._id}}">{{this.shelterName}}</a></li>
        {{/each}}
    </ul>
{{else}}
    <p>No shelters found in that city!</p>
{{/if}}