<h1>{{title}}</h1>
<div id="error" class="error" hidden>I'm an error</div>
{{#if loggedIn}}
<div id="diverror">{{error}}</div>
<h2>Comments</h2>

  {{#each comments}}
    <p>{{this.name}}: {{this.comment}}</p>
    <form method="post" id="updateComment">
      <input type="hidden" name="commentId" value="{{this._id}}">
      <label id="nameLabel">
          Commenter Name
          <input type="text" id="name" name="name" placeholder="commenter Name"/>
      </label>
      <label id="commentLabel">
          Comment
          <input type="text" id="comment" name="comment" placeholder="comment"/>
      </label>
      <button type="submit">Update Comment</button>
    </form>
  {{/each}}

<a href="delete_comment">Delete comment here</a>
{{/if}}