<h1>{{title}}</h1>
<div class="profile-info">
    <dl>
        <dt>City</dt>
        <dd>{{user.city}}</dd>
        <dt>State</dt>
        <dd>{{user.state}}</dd>
    </dl>

     {{#if user.shelterReviews.length}}
        <h2>Shelter Reviews</h2>
        <ul>
            {{#each user.shelterReviews}}
                <li>
                    Shelter: {{this.shelter.shelterName}}      
                    ReviewId: {{this._id}}
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No reviews for any shelters</p>
    {{/if}}

    {{#if user.comments.length}}
        <h2>Pet Comments</h2>
        <ul>
            {{#each user.comments}}
                <li>
                    CommentId: {{this._id}}     
                    Comment: {{this.comment}}
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No comments for any pets</p>
    {{/if}}

    {{#if isAdmin}}
        <a href="/shelters/add">Add a shelter here</a>
        <a href="/shelters/remove">Remove a shelter here</a>
    {{/if}}

    {{#if isAdmin}}
    <h2>Create new admin user</h2>
    {{#if error}}
        <div id="error" class="error">{{error}}</div>
    {{else}}
        <div id="error" class="error" hidden></div>
    {{/if}}
    <form action="/users/create-admin" id="registerForm" method="post">
        <label for="usernameInput" id="usernameLabel">Username:</label>
        <input type="text" id="usernameInput" name="usernameInput" /><br />
        <label for="passwordInput" id="passwordLabel">Password: </label>
        <input type="password" id="passwordInput" name="passwordInput" />
        <label for="cityInput" id ="cityLabel">City</label>
        <input type="text" id="cityInput" name="cityInput"/><br />
        <label for="stateInput" id="stateLabel">State: </label>
        <input type="text" id="stateInput" name="stateInput"/>
        <button type="submit">Register</button>
    </form>
    {{/if}}
    {{#if message}}
        <p>{{message}}</p>
    {{/if}}

    <a href="{{user.username}}/saved_lists">View saved pets and shelters here</a>
</div>